<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>app/Domain/Music/Tests/Unit</directory>
            <directory>app/Domain/Integration/Tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>app/Domain/Music/Tests/Feature</directory>
            <directory>app/Domain/Integration/Tests/Feature</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing" force="true"/>
        <env name="DB_CONNECTION" value="mysql_testing" force="true"/>
        <env name="CACHE_STORE" value="array" force="true"/>
        <env name="QUEUE_CONNECTION" value="sync" force="true"/>
    </php>
</phpunit>
